html, body {
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
 nav a.active {
    color: white;
     background-color: #555;
}

 nav a:hover:not(.active) {
    background-color: #555;
    color:darkblue;
}

img{
    width : 45%;
    height: 55%;
    float:right;
    padding:10px;
}

#imagemPassarela1 img{
    width:40%;
    height:40%;
    float:right;
    align-items: center;
    margin:5%;
}
#imagemPassarela1 p{
  display:inline-block;
}

.container {
    border-width: 1.8px;
    border-style: solid;
    border-color:  black;
    margin:5%;
    padding:2%;
}

#passarela{
    border-width: 1.8px;
    border-style: solid;
    border-color:  black;
    margin:5%;
}
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

button{
    padding-left:15%;
}